.infoBox {
  flex: 1;
  cursor: pointer;
}



.infoBox__header {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__cases {
    border-top: 5px solid #cc1034;
}

.infoBox__recovered {
    border-top: 5px solid #B9CC95;
}

.infoBox__deaths {
    border-top: 5px solid #A2DCEE;
}

.infoBox__header__cases {
    color: #cc1034;
}

.infoBox__header__recovered {
    color: #B9CC95;
}

.infoBox__header__deaths {
    color: #A2DCEE;
}

.infoBox__title {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 1.5rem !important;
    margin-top: 5px !important;
}

@media (min-width: 426px) {
    .infoBox:not(:last-child) {
        margin-right: 15px;
    }
}

@media (max-width: 425px) {
    .infoBox:not(:last-child) {
        margin-bottom: 15px;
    }
}